<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<!--下記のAWSに書き込む処理を行うには、AWS.Logger.Log4netをNugetする-->
		<appender name="AWS" type="AWS.Logger.Log4net.AWSAppender,AWS.Logger.Log4net">
			<LogGroup>Log4net.Zouryoku</LogGroup>
			<Region>ap-northeast-1</Region>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern>
					{
					"logLevel": "%level",
					"logger": "%logger",
					"message": "%message",
					"exception": "exception"
					}
				</conversionPattern>
			</layout>
		</appender>

		<root>
			<level value="INFO" />
			<appender-ref ref="AWS" />
		</root>
		<logger name="Microsoft">
			<level value="WARN" />
		</logger>
		<logger name="Microsoft.Hosting.Lifetime">
			<level value="WARN" />
		</logger>
		<logger name="Microsoft.EntityFrameworkCore">
			<level value="WARN" />
		</logger>
		<logger name="Microsoft.AspNetCore.Session.SessionMiddleware">
			<level value="ERROR" />
		</logger>
	</log4net>
</configuration>