@page
@model Zouryoku.Pages.Example.ModalSearchModel

<div id="partial"></div>

@* JavaScript ****************************************************************************************************@
@section Scripts {
    <script>
        // 初期表示
        $partial = $('#partial');
        function renderPartial(data) {
            sendGetAjax(toUrl('Search'), data, function(partialView) {
                $partial.html(partialView);
            }, false);
        }

        // モーダル呼び出し元からインプットを取得
        $(window).on('message', function(e) {
            if (e.originalEvent.data.type !== 'modalinput') return;

            // インプットを画面に表示する
            renderPartial(e.originalEvent.data.input);
        })

        // 検索ボタン押下
        $partial.on('click', '#search-btn', function() {
            // 呼び出し元へ返すアウトプット
            const modaloutputData = Object.fromEntries($('form').serializeArray().map(({name, value}) => [name, value]));

            // アウトプットを呼び出し元へ返す
            window.parent.postMessage({ type: 'modaloutput', output: modaloutputData }, location.origin);
        });
    </script>
}
