@using CommonLibrary.Extensions
@model Zouryoku.Pages.RoleDefaultKengen.IndexViewModel

<table class="table app-table__base table-bordered table-striped table-hover text-nowrap align-middle w-100">
    <thead>
        <tr>
            <th class="w-100" scope="col">社員権限</th>
            <th class="w-auto" scope="col">有効/無効</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.AllAuthorities)
        {
            var display = role.GetDisplayName();

            <tr>
                <td>@display</td>
                <td align="center">
                    <input class="form-check"
                           data-flag="@((int)role)"
                           type="checkbox" @(Model.Kengen.HasFlag(role) ? "checked" : null) />
                </td>
            </tr>
        }
    </tbody>
</table>
