@using Model.Enums
@using System.ComponentModel.DataAnnotations
@using System.Reflection
@model Zouryoku.Pages.RoleDefaultKengen.IndexViewModel

<table class="table table-striped app-table__base w-100 data-table">
    <thead>
        <tr>
            <th class="w-100" scope="col">社員権限</th>
            <th class="w-auto" scope="col">有効/無効</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.AllAuthorities)
        {
            var display = role.GetType()
            .GetMember(role.ToString())
            .First()
            .GetCustomAttribute<DisplayAttribute>()?
            .Name ?? role.ToString();

            <tr>
                <td class="">@display</td>
                <td class="" align="center">
                    <input class="form-check"
                           name="kengen-checkbox"
                           data-flag="@((int)role)"
                           type="checkbox" @(Model.Kengen.HasFlag(role) ? "checked" : null) />
                </td>
            </tr>
        }
    </tbody>
</table>
