@page
@model Zouryoku.Pages.RoleDefaultKengen.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "ロールデフォルト権限設定";
}
<partial name="_ZouryokuHeader" />

<div class="container w-50">
    <form id="role-form" method="post">
        <div class="app-screen--search">
            <div class="app-area__search-criteria mt-3">
                <div class="row mt-3">
                    <label for="role-select" class="app-input__label col-form-label col-12 col-lg-auto fw-bold">ロール</label>
                    <select asp-for="ViewModel.SelectedRoleId"
                            asp-items="@Model.ViewModel.UserRoles"
                            id="role-select"
                            class="col app-input__select form-select mx-3">
                    </select>
                    <input type="hidden" asp-for="ViewModel.KengenValue" id="input-kengen-value" />
                    <input type="hidden" asp-for="ViewModel.Version" value="@Model.ViewModel.Version" />
                </div>
            </div>

            <div class="app-area__tool-button">
                <button class="btn btn-primary app-btn__base col-auto" data-js="btn-add" type="button">
                    <i class="fa-solid fa-check"></i>登録
                </button>
            </div>

            <main id="permission-table" class="app-area__search-result mt-3 d-flex justify-content-center">
                <partial name="_UserRoleList" for="ViewModel" />
            </main>

            <div class="app-area__tool-button mt-3">
                <button class="btn btn-primary app-btn__base col-auto" data-js="btn-add" type="button">
                    <i class="fa-solid fa-check"></i>登録
                </button>
            </div>
        </div>
    </form>
</div>

@section InputScripts {
    <script>
        $(function() {
            var $form = $('#role-form');

            // ロールの値を変更する
            $('#role-select').on('change', function () {
                var roleId = $(this).val();
                sendAjax(toUrl("RoleData"), $form, $form.serialize(), function (result) {
                    $('#permission-table').html(result);
                }, false, null, false);
            });

            // 登録ボタンのクリック
            $('[data-js=btn-add]').on('click', function () {
                commonConfirm('登録します。よろしいですか？', null, async function() {
                    var flags = 0;
                    $('#permission-table input[type=checkbox]').each(function () {
                        if ($(this).is(':checked')) {
                            flags |= parseInt($(this).data('flag'));
                        }
                    });

                    $('#input-kengen-value').val(flags);
                    sendAjax(toUrl("UpdateRole"), $form, $form.serializeArray(), function (result) {
                        registerSuccessSwal("登録しました", null, function () {
                            location.reload();
                        });
                    }, false, null, false);
                });
            });
        });
    </script>
}
