@page
@model Zouryoku.Pages.RoleDefaultKengen.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "ロールデフォルト権限設定";
}
<partial name="_ZouryokuHeader" />

<div class="container w-50">
    <div class="app-screen--search">
        <div class="app-area__search-criteria mt-3">
            <div class="row mt-3">
                <label for="role-select" class="app-input__label col-form-label col-12 col-lg-auto fw-bold">ロール</label>
                <select id="role-select" class="col app-input__select form-select mx-3">
                    @foreach (var role in Model.Roles)
                    {
                        <option value="@role.Id">@Html.DisplayName(role.Name)</option>
                    }
                </select>
            </div>
        </div>

        <div class="app-area__tool-button">
            <button class="btn btn-primary app-btn__base col-auto" type="button">
                <i class="fa-solid fa-check"></i>登録
            </button>
        </div>

        <main class="app-area__search-result mt-3 d-flex justify-content-center">
            <partial name="_UserRoleList" model="Model.Roles[0]" />
        </main>

        <div class="app-area__tool-button mt-3">
            <button class="btn btn-primary app-btn__base col-auto" type="button">
                <i class="fa-solid fa-check"></i>登録
            </button>
        </div>
    </div>
</div>

@section InputScripts {
    <script>
        $(function() {
            // コンボボックスの値に応じて表示を切り替えるメソッドが必要
        });
        const
    </script>
}