@page
@using Model.Enums
@model Zouryoku.Pages.Maintenance.AppSettings.IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "アプリケーション設定";
}
<link type="text/css" rel="stylesheet" href="~/assets/modules/iziModal/css/iziModal.css" asp-append-version="true" />

<partial name="_ZouryokuHeader" model="Model" />
<div class="app-screen--entry">
    <div class="app-area__header"></div>
    <div class="app-area__body">
        <form method="post" id="appsetting-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.AntiForgeryToken()
            <div class="row gx-0 gx-lg-4 mt-2 mt-lg-3">
                <label asp-for="AppSetting.NippoStopDate" class="col-lg-2 col-form-label app-input__label ps-2">日報停止日</label>
                <div class="col-lg-5">
                    <span asp-validation-for="AppSetting.NippoStopDate" class="text-danger"></span>
                    <input asp-for="AppSetting.NippoStopDate" type="date" class="form-control app-input__textbox" />
                </div>
            </div>
            <div class="row gx-0 gx-lg-4 mt-2 mt-lg-3">
                <label asp-for="AppSetting.MsTenantId" class="col-lg-2 col-form-label app-input__label ps-2">MSテナントID</label>
                <div class="col-lg-5">
                    <span asp-validation-for="AppSetting.MsTenantId" class="text-danger"></span>
                    <input asp-for="AppSetting.MsTenantId" type="text" class="form-control app-input__textbox" />
                </div>
            </div>
            <div class="row gx-0 gx-lg-4 mt-2 mt-lg-3">
                <label asp-for="AppSetting.MsClientId" class="col-lg-2 col-form-label app-input__label ps-2">MSクライアントID</label>
                <div class="col-lg-5">
                    <span asp-validation-for="AppSetting.MsClientId" class="text-danger"></span>
                    <input asp-for="AppSetting.MsClientId" type="text" class="form-control app-input__textbox" />
                </div>
            </div>
            <div class="row gx-0 gx-lg-4 mt-2 mt-lg-3">
                <label asp-for="AppSetting.MsClientSecret" class="col-lg-2 col-form-label app-input__label ps-2">MSクライアントシークレット</label>
                <div class="col-lg-5">
                    <span asp-validation-for="AppSetting.MsClientSecret" class="text-danger"></span>
                    <input asp-for="AppSetting.MsClientSecret" type="text" class="form-control app-input__textbox" />
                </div>
            </div>
            <div class="row gx-0 gx-lg-4 mt-2 mt-lg-3">
                <label asp-for="AppSetting.SmtpUser" class="col-lg-2 col-form-label app-input__label ps-2">SMTPユーザ</label>
                <div class="col-lg-5">
                    <span asp-validation-for="AppSetting.SmtpUser" class="text-danger"></span>
                    <input asp-for="AppSetting.SmtpUser" type="text" class="form-control app-input__textbox" />
                </div>
            </div>
            <div class="row gx-0 gx-lg-4 mt-2 mt-lg-3">
                <label asp-for="AppSetting.SmtpPassword" class="col-lg-2 col-form-label app-input__label ps-2">SMTPパスワード</label>
                <div class="col-lg-5">
                    <span asp-validation-for="AppSetting.SmtpPassword" class="text-danger"></span>
                    <input asp-for="AppSetting.SmtpPassword" type="text" class="form-control app-input__textbox" />
                </div>
            </div>
            <div class="d-flex justify-content-end mt-4">
                <button type="button" class="btn btn-primary app-btn__base" id="registerBtn">登録</button>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <!-- iziModal -->
    <script src="~/assets/modules/iziModal/js/iziModal.min.js" asp-append-version="true"></script>
    <!--iziModalUtil JavaScript -->
    <script src="~/js/iziModalUtil.js" asp-append-version="true"></script>
    <script>
        // 登録ボタン
        $('#registerBtn').on('click', function () {
            register('登録', 'Register');
        });

        /** 登録 */
        function register(actionName, handler) {
            // クライアント側の検証でエラーがない場合のみ、登録処理を行う
            if (!$('form').valid()) {
                return
            };

            commonConfirm(actionName + 'します。よろしいですか？', null, function() {
                // 登録処理
                sendRegisterAjax(toUrl(handler), $('form').serializeArray(), function(data) {
                    registerSuccessSwal(actionName + 'しました', null, function() { }); 
                });
            });
        }
    </script>
}
