@charset "UTF-8";
/* =======================================================
   共通スタイル定義ファイル（画面パターン対応）
   設計方針：
   - Bootstrap＋BEM準拠
   - PC/モバイル対応
   - 画面パターン（登録・検索・カレンダーなど）切替対応
========================================================= */
/* ========================================
   Root Variables（共通テーマ変数定義）
======================================== */
:root {
  --iframe-header-color: #003686; /* iziModalで使用 */
  --header-color: rgb(110 162 243);
  --screen-bg-color: #f8f9fa;
  --area-bg-white: #fff;
  --line-height: 1.4;
  --font-weight: 500;
  --margin-zero: 0;
  --font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  --font-size: 0.875rem;
  --font-color: #333333;
  --border-color: #dee2e6;
  --border-radius: 0.25rem;
  --transition: 0.2s ease-in-out;
  --content-padding-pc: 2rem;
  --content-padding-sp: 1rem;
  --padding-updown: 1rem;
  --padding-leftright: 2rem;
  --zouryoku-header-height: 60px;
  --btn-default-bg-color: #0d6efd;
  --btn-default-color: #fff;
  --btn-border-radius: 0.375rem;
}
@media (max-width: 991px) {
  :root {
    --font-size: 12px; /* フォントサイズを小さくする */
    --padding-updown: 0.6rem;
    --padding-leftright: 1rem;
  }
}

/* ========================================
   Base Layout
======================================== */
html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--font-color);
  background-color: var(--screen-bg-color);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  margin: var(--margin-zero);
}

pre {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.app-validation-summary-errors > ul {
  margin: unset;
  width: 100%;
  list-style: inside;
  padding: unset;
  padding-left: 15px;
  max-height: 200px;
  overflow-y: auto;
}

/* ---------- iziModal ---------- */
.iziModal .iziModal-header .iziModal-noSubtitle .iziModal-header-title {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

/* _Layout.cshtmlの通知領域(IDセレクタ) */
/* BusyoSentaku, _Layout.cshtml, _Layout_NoSession.cshtml, messageUtil.js */
#message-notification {
  width: 100%;
}
#message-notification > .alert {
  display: flex;
}

/* 
   jQuery UI Autocomplete の
   「results are available, use up and down arrow keys to navigate.」
   というメッセージを消す
*/
.app-ui-helper-hidden-accessible {
  display: none;
}

@media (max-width: 991px) {
  .layout__header {
    text-align: center;
  }
  .header {
    flex-direction: column;
    gap: 0.5rem;
  }
  .layout__body {
    padding: var(--content-padding-sp);
  }
  .btn--base {
    width: 100%;
  }
  .icon-group {
    display: none !important;
  }
  .user-texts > div:first-child {
    display: none; /* 部署名を非表示 */
  }
}
/* ========================================
   Header Block
======================================== */
/* ========================================
   Button / Input（再利用部品）/ border
======================================== */
input[type=text],
input[type=number],
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=tel],
input[type=password],
textarea.form-control,
select:not([multiple]) {
  /* ブラウザ固有の入力欄機能（type="number"の上下ボタン、type="date"のピッカーなど）を無効化する */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=text]::-webkit-calendar-picker-indicator, input[type=text]::-ms-expand,
input[type=number]::-webkit-calendar-picker-indicator,
input[type=number]::-ms-expand,
input[type=date]::-webkit-calendar-picker-indicator,
input[type=date]::-ms-expand,
input[type=datetime-local]::-webkit-calendar-picker-indicator,
input[type=datetime-local]::-ms-expand,
input[type=email]::-webkit-calendar-picker-indicator,
input[type=email]::-ms-expand,
input[type=tel]::-webkit-calendar-picker-indicator,
input[type=tel]::-ms-expand,
input[type=password]::-webkit-calendar-picker-indicator,
input[type=password]::-ms-expand,
textarea.form-control::-webkit-calendar-picker-indicator,
textarea.form-control::-ms-expand,
select:not([multiple])::-webkit-calendar-picker-indicator,
select:not([multiple])::-ms-expand {
  display: none;
}

input[readonly] {
  background: #f2f2f2;
  color: #000;
  cursor: not-allowed;
}

input[readonly]:focus {
  border: 1px solid var(--border-color);
  background: #f2f2f2;
  color: #000;
  cursor: not-allowed;
  outline: none;
}

textarea[readonly] {
  background: #f2f2f2;
  color: #000;
  cursor: not-allowed;
}

textarea[readonly]:focus {
  border: 1px solid var(--border-color);
  background: #f2f2f2;
  color: #000;
  cursor: not-allowed;
  outline: none;
}

.app-input__textbox,
.app-input__select {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.5rem 0.75rem;
  font-size: var(--font-size);
  transition: border-color var(--transition);
  /* 無効化時はグレーで表示 */
}
.app-input__textbox:disabled,
.app-input__select:disabled {
  background: #aaa;
  color: #fff;
  border: 0; /* disabled時に青い線が出るため消す */
}

.app-input__textarea {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 0.5rem 0.75rem;
  font-size: var(--font-size);
  transition: border-color var(--transition);
}

.app-input__textarea:focus,
.app-input__textbox:focus,
.app-input__select:focus {
  border-color: var(--color-primary);
  outline: none;
}

/* common.jsのchangeCtrlBorder(,)でエラーがある項目を赤で囲む */
.error-border {
  border: 1px solid #EE8484;
  background-color: var(--area-bg-white);
}

/* common.jsのchangeCtrlBorder(,)で警告がある項目を黄で囲む */
.warning-border {
  border: 1px solid #fd7e00;
  background-color: var(--area-bg-white);
}

.app-clickable {
  cursor: pointer;
}

/* ボタン(基本) */
.app-btn__base {
  display: inline-flex; /* ボタン内のFontAwesomeアイコンと文字の間を空ける */
  align-items: center;
  justify-content: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 0.5rem; /* ボタン内のFontAwesomeアイコンと文字の間を空ける */
  font-size: var(--font-size);
  text-wrap: nowrap; /* ボタン内の自動改行を禁止 */
  font-weight: inherit; /* bodyのfont-size継承を想定 */
  border-radius: var(--btn-border-radius);
  /* ブラウザ固有の入力欄機能（type="number"の上下ボタン、type="date"のピッカーなど）を無効化する */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* 無効化時はグレーで表示 */
  /* btn-infoの文字色を白に変更 */
  /* btn-outline-infoの文字色を白に変更 */
}
.app-btn__base::-webkit-calendar-picker-indicator, .app-btn__base::-ms-expand {
  display: none;
}
.app-btn__base:disabled {
  background: #aaa;
  color: #fff;
  border: 0; /* disabled時に青い線が出るため消す */
}
.app-btn__base.btn--info {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
}
.app-btn__base.btn__outline--info {
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
}

/* ボタンサイズ(sm) */
.app-btn--sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

/* ボタンサイズ(lg) */
.app-btn--lg {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}

/* ボタン色(bootstrapのボタンを使用しない場合) */
.app-btn__color--red {
  color: #fff;
  background-image: -webkit-linear-gradient(to right, #ff0000 0%, #ff7777 100%);
  background-image: -o-linear-gradient(to right, #ff0000 0%, #ff7777 100%);
  background-image: linear-gradient(to right, #ff0000 0%, #ff7777 100%);
}
.app-btn__color--red:disabled {
  background: #aaa;
  color: #fff;
}

.app-btn__color--blue {
  color: #fff;
  background-image: -webkit-linear-gradient(to right, #1f6bff 0%, #1a9eef 100%);
  background-image: -o-linear-gradient(to right, #1f6bff 0%, #1a9eef 100%);
  background-image: linear-gradient(to right, #1f6bff 0%, #1a9eef 100%);
}
.app-btn__color--blue:disabled {
  background: #aaa;
  color: #fff;
}

.app-btn__color--green {
  color: #fff;
  background-image: -webkit-linear-gradient(to right, #00947f 0%, #62cd01 100%);
  background-image: -o-linear-gradient(to right, #00947f 0%, #62cd01 100%);
  background-image: linear-gradient(to right, #00947f 0%, #62cd01 100%);
}
.app-btn__color--green:disabled {
  background: #aaa;
  color: #fff;
}

.app-btn__color--cyan {
  color: #fff;
  background-image: -webkit-linear-gradient(to right, #00bcd4 0%, #00acc1 100%);
  background-image: -o-linear-gradient(to right, #00bcd4 0%, #00acc1 100%);
  background-image: linear-gradient(to right, #00bcd4 0%, #00acc1 100%);
}
.app-btn__color--cyan:disabled {
  background: #aaa;
  color: #fff;
}

.app-btn__color--orange {
  color: #fff;
  background-image: -webkit-linear-gradient(to right, #fa441e 0%, #fd830e 100%);
  background-image: -o-linear-gradient(to right, #fa441e 0%, #fd830e 100%);
  background-image: linear-gradient(to right, #fa441e 0%, #fd830e 100%);
}
.app-btn__color--orange:disabled {
  background: #aaa;
  color: #fff;
}

.app-btn__color--grey {
  color: #fff;
  background-color: grey;
}
.app-btn__color--grey:disabled {
  background: #aaa;
  color: #fff;
}

/* ---------- .box ---------- */
/* バイパスログイン画面などで使用 */
.app-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  margin: 15px auto 0;
  background-color: #fff;
  box-shadow: 0 0 20px rgb(110, 162, 243);
  border-radius: 6px;
  /* .size */
  /* .accodion */
  /* モバイル用 */
}
.app-box.s {
  width: 440px;
}
.app-box.m {
  width: 780px;
}
.app-box.accodion {
  padding: 10px 20px;
}
.app-box.accodion .subtitle::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: -15px;
  margin-right: 8px;
  margin-bottom: 3px;
  border-top: 2px solid #1f6bff;
  border-right: 2px solid #1f6bff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.app-box.accodion .contents {
  display: none;
}
.app-box.accodion.open {
  padding: 20px;
}
.app-box.accodion.open .subtitle::before {
  margin-bottom: 0;
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}
.app-box.accodion.open .contents {
  display: flex;
}
@media (max-width: 767px) {
  .app-box {
    display: block;
    /* .size */
    /* .accodion */
  }
  .app-box.s {
    width: 100%;
  }
  .app-box.m {
    width: 100%;
  }
  .app-box.accodion {
    padding: 10px 15px;
  }
  .app-box.accodion.open {
    padding: 10px 15px 20px;
  }
  .app-box.accodion.open .contents {
    max-width: 100%;
    overflow: scroll;
  }
}

/* ========================================
   Alert / Message
======================================== */
.app-alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
}

.app-alert__error {
  background-color: #fae1e4;
  border: 1px solid #f7d5d9;
  color: #d60000;
}

.app-alert__warn {
  background-color: #fae1e4;
  border: 1px solid #f7d5d9;
  color: #d60000;
}

.app-alert__info {
  background-color: #e1fae4;
  border: 1px solid #b5f7d5;
  color: #1d8027;
}

/* ========================================
   画面パターン共通定義
======================================== */
.app-table__base > * > * > * {
  /* フォントを小さくしているぶんパディングも小さくする */
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  vertical-align: middle;
}
.app-table__base > thead > * > * {
  /* table-primaryはhtml側で定義 */
  text-align: center !important;
  font-weight: bold;
  white-space: nowrap;
  background-color: #2F75B5;
  border-color: #73A6D4;
  color: #fff;
}
.app-table__base > tbody > * > * {
  /* フォントを小さくしているぶんパディングも小さくする */
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  /* テーブル各列の幅がtbodyの影響を受けずに指定できるようゼロを指定 */
  max-width: 0;
  border: 1px solid #73A6D4;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}
.app-table__base > tbody > tr:hover td {
  background-color: #d9efff;
}
.app-table__base > tbody > tr:nth-of-type(odd) > * {
  --bs-table-bg-type: #DDEBF7;
}

.app-table__calendar > * > * > * {
  /* フォントを小さくしているぶんパディングも小さくする */
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  white-space: normal;
  vertical-align: middle;
}
.app-table__calendar > thead {
  /* table-primaryはhtml側で定義 */
  text-align: center !important;
  font-weight: bold;
  --border-color: #2f75b5;
  --font-color: #fff;
}
.app-table__calendar > tbody > * > * {
  /* フォントを小さくしているぶんパディングも小さくする */
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  /* テーブル各列の幅がtbodyの影響を受けずに指定できるようゼロを指定 */
  max-width: 0;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: break-word;
}
.app-table__calendar .table-bordered-vertical th,
.app-table__calendar .table-bordered-vertical td {
  border: 1px solid #dee2e6; /* セルに枠線 */
}
.app-table__calendar .app-line--holiday {
  --bs-table-accent-bg: #FFE4E5;
}
.app-table__calendar .app-line--holiday td:nth-child(1 of .app-day-no) {
  color: rgba(var(--bs-danger-rgb), 1);
}
.app-table__calendar .app-line--holiday td:nth-child(1 of .app-day-no):visited {
  color: rgba(var(--bs-danger-rgb), 0.8);
}
.app-table__calendar .app-line--sunday {
  --bs-table-accent-bg: #FFE4E5;
}
.app-table__calendar .app-line--sunday td:nth-child(1 of .app-day-no) {
  color: rgba(var(--bs-danger-rgb), 1);
}
.app-table__calendar .app-line--sunday td:nth-child(1 of .app-day-no):visited {
  color: rgba(var(--bs-danger-rgb), 0.8);
}
.app-table__calendar .app-line--saturday {
  --bs-table-accent-bg: #DDEBF7;
}
.app-table__calendar .app-line--saturday td:nth-child(1 of .app-day-no) {
  color: rgba(var(--bs-primary-rgb), 1);
}
.app-table__calendar .app-line--saturday td:nth-child(1 of .app-day-no):visited {
  color: rgba(var(--bs-primary-rgb), 0.8);
}
.app-table__calendar .app-line--weekday {
  --bs-table-accent-bg: #FFFFFF;
}
.app-table__calendar .app-line--weekday td:nth-child(1 of .app-day-no) {
  color: rgba(var(--bs-text-body-rgb), 1);
}
.app-table__calendar .app-line--weekday td:nth-child(1 of .app-day-no):visited {
  color: rgba(var(--bs-text-body-rgb), 0.8);
}
.app-table__calendar .app-day__color--holiday,
.app-table__calendar .table > :not(caption) > * > .app-day__color--holiday {
  color: rgba(var(--bs-danger-rgb), 1);
}
.app-table__calendar .app-day__color--holiday:visited,
.app-table__calendar .table > :not(caption) > * > .app-day__color--holiday:visited {
  color: rgba(var(--bs-danger-rgb), 0.8);
}
.app-table__calendar .app-day__color--sunday,
.app-table__calendar .table > :not(caption) > * > .app-day__color--sunday {
  color: rgba(var(--bs-danger-rgb), 1);
}
.app-table__calendar .app-day__color--sunday:visited,
.app-table__calendar .table > :not(caption) > * > .app-day__color--sunday:visited {
  color: rgba(var(--bs-danger-rgb), 0.8);
}
.app-table__calendar .app-day__color--saturday,
.app-table__calendar .table > :not(caption) > * > .app-day__color--saturday {
  color: rgba(var(--bs-primary-rgb), 1);
}
.app-table__calendar .app-day__color--saturday:visited,
.app-table__calendar .table > :not(caption) > * > .app-day__color--saturday:visited {
  color: rgba(var(--bs-primary-rgb), 0.8);
}
.app-table__calendar .app-day__color--weekday,
.app-table__calendar .table > :not(caption) > * > .app-day__color--weekday {
  color: rgba(var(--bs-text-body-rgb), 1);
}
.app-table__calendar .app-day__color--weekday:visited,
.app-table__calendar .table > :not(caption) > * > .app-day__color--weekday:visited {
  color: rgba(var(--bs-text-body-rgb), 0.8);
}
.app-table__calendar .app-back__color--holiday > *,
.app-table__calendar .app-back__color--sunday > * {
  --bs-table-accent-bg: #FFE4E5;
}
.app-table__calendar .app-back__color--saturday > * {
  --bs-table-accent-bg: #DDEBF7;
}

.app-screen--header-area {
  --zouryoku-header-height: 60px;
  /* ===== スマホ対応 ===== */
}
.app-screen--header-area body {
  padding-top: var(--zouryoku-header-height); /* ヘッダーの縦幅だけコンテンツを下に寄せる */
}
.app-screen--header-area .app-header-bar {
  background: linear-gradient(90deg, rgb(45, 65, 118) 0%, rgb(29, 85, 143) 100%);
  color: #fff;
  padding: 6px 16px; /* ← 余白を狭くしたまま */
  position: fixed; /* ヘッダーを画面に固定 */
  top: 0;
  left: 0;
  width: 100%; /* ビューポート幅いっぱいに */
  height: var(--zouryoku-header-height);
  z-index: 200; /* 他のコンテンツより前面に表示 */
}
.app-screen--header-area .system-name {
  font-size: 1.2rem;
  font-weight: bold;
}
.app-screen--header-area .screen-name {
  font-size: 1rem;
  opacity: 0.9;
  display: flex;
  align-items: center;
  gap: 6px;
}
.app-screen--header-area .user-info {
  text-align: right;
  font-size: 0.9rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  gap: 8px;
}
.app-screen--header-area .user-texts {
  display: flex;
  flex-direction: column;
  text-align: right;
  line-height: 1.2;
  gap: 0.2rem;
}
.app-screen--header-area .icon-group {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 1.6rem;
  color: #fff;
}
.app-screen--header-area .icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: relative; /* バッジ表示用 */
  text-decoration: none;
}
.app-screen--header-area .icon-item:hover {
  color: #cce0ff;
}
.app-screen--header-area .icon-label {
  display: none;
}
.app-screen--header-area .hamburger-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.app-screen--header-area .hamburger-label {
  display: none;
}
.app-screen--header-area .hamburger-container:hover {
  color: #cce0ff;
}
.app-screen--header-area .badge {
  font-size: 0.55rem;
}
@media (max-width: 768px) {
  .app-screen--header-area {
    /* 部署名を非表示 */
  }
  .app-screen--header-area .icon-group {
    display: none !important;
  }
  .app-screen--header-area .user-texts > div:first-child {
    display: none;
  }
}

.app-screen--menu {
  /* 親メニューのホバー */
  /* 矢印を消す */
  /* 子メニュー専用スタイル */
  /* 子メニューのホバー */
  /* 親メニューバッジ */
  /* メニューヘッダー内 */
  /* 子メニュー内 */
}
.app-screen--menu .app-active_header {
  border-bottom: 1px solid var(--bs-border-color);
}
.app-screen--menu .accordion-button:hover {
  background-color: #f0f0f0;
  color: #0d6efd;
}
.app-screen--menu .accordion-button.app-no_arrow::after {
  display: none !important;
}
.app-screen--menu .accordion-button.app-child_link {
  display: block;
  width: 100%;
  text-align: left;
  padding: 14px;
  font-size: 14px;
  background-color: #fff;
  color: #000000;
  border: none;
  box-shadow: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.app-screen--menu .accordion-button.app-child_link:hover {
  background-color: #f0f0f0;
  color: #0d6efd;
}
.app-screen--menu .app-badge {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--font-size);
  align-items: center;
  justify-content: center;
}
.app-screen--menu .app-menu_link {
  text-decoration: underline;
}
.app-screen--menu .accordion-header .app-no_arrow {
  text-decoration: none;
}
.app-screen--menu .accordion-header .app-badge {
  right: calc(var(--bs-accordion-btn-icon-width) * 3);
}
.app-screen--menu .accordion-body .app-badge {
  right: calc(var(--bs-accordion-btn-icon-width));
}

.app-screen--entry {
  margin-top: 1rem !important;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.app-screen--entry .app-input__label {
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  font-weight: bold;
  background: #DEEBF7;
  border-radius: var(--btn-border-radius);
}
.app-screen--entry .app-area__body {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.8rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background-color: var(--area-bg-white);
  border: 1.5px solid #ccc;
  border-radius: 10px;
}
.app-screen--entry .app-area__footer {
  background-color: var(--screen-bg-color);
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.app-screen--search {
  margin-top: 1rem !important;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.app-screen--search .app-input__label {
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  font-weight: bold;
  border-radius: var(--btn-border-radius);
}
.app-screen--search .app-area__search-criteria {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background-color: var(--area-bg-white);
  border: 1.5px solid #ccc;
  border-radius: 10px;
}
.app-screen--search .app-area__tool-button {
  display: flex;
  justify-content: flex-end;
}
.app-screen--single-form {
  margin-top: 1rem !important;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.app-screen--single-form .app-square {
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
  margin: 0;
  padding: 0;
}
.app-screen--single-form .app-square-no-bottom {
  border-top: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
  margin: 0;
  padding: 0;
}
.app-screen--single-form .app-item-heading {
  display: flex;
  align-items: center;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  font-weight: bold;
  background: #DEEBF7;
}
.app-screen--single-form .app-field-value {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}
.app-screen--single-form .app-area__body {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1.8rem;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-bottom: 1.8rem;
  background-color: var(--area-bg-white);
  border: 1.5px solid #ccc;
  border-radius: 10px;
}

.app-screen--others2 {
  margin-top: 1rem !important;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.app-screen--others2 .app-square {
  border: 1px solid #D2D2D2;
  margin: 0;
  padding: 0;
  background-color: var(--area-bg-white);
}
.app-screen--others2 .app-input__label {
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  font-weight: bold;
  border-radius: var(--btn-border-radius);
}
.app-screen--others2 .app-area__header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  border-radius: 10px;
}
.app-screen--others2 .app-area__body {
  border: none;
}
.app-screen--others2 .app-area__footer {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1030;
}

.app-screen--others {
  margin-top: 1rem !important;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.app-screen--others .app-input__label {
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  font-weight: bold;
  border-radius: var(--btn-border-radius);
}
.app-screen--others .app-area__header {
  background-color: var(--area-bg-white);
}
.app-screen--others .app-area__body {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 1.8rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  background-color: var(--area-bg-white);
  border: 1.5px solid #ccc;
  border-radius: 10px;
}
.app-screen--others .app-area__footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

/* ----------------------------------------
   center-page-area
   （パスワード変更画面などの中央表示画面）
   利用箇所：page403.cshtml
             page404.cshtml
             BypassLogin.cshtml
             Index.cshtml
   ---------------------------------------- */
.app-center-page-area {
  padding: 60px 0;
}
.app-center-page-area .logo {
  text-align: center;
}
.app-center-page-area .logo img {
  width: inherit;
}
.app-center-page-area .logo.login-logo img {
  width: inherit;
}
.app-center-page-area .box {
  display: block;
  padding: 50px;
  margin-top: 30px;
}
.app-center-page-area .login_title {
  margin-bottom: 30px;
  color: #1f6bff;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.app-center-page-area .login_title img {
  width: 15px;
  margin-right: 10px;
}
.app-center-page-area p {
  margin-top: 15px;
  color: #1f6bff;
  font-weight: bold;
}
.app-center-page-area p + div {
  margin-top: 7px;
}
.app-center-page-area input {
  width: 100%;
}
.app-center-page-area .btn_area {
  margin: 30px 0 10px;
  margin-top: 20px;
  padding: 0 40px;
}
.app-center-page-area .btn_area a {
  padding: 0 40px;
}
.app-center-page-area .btn_area > * {
  min-width: 125px;
}
.app-center-page-area .btn_area > :first-child {
  margin-right: 10px;
}
.app-center-page-area .lead {
  line-height: 1.8;
}
.app-center-page-area .input_email {
  width: 370px;
  margin: 20px auto;
}
.app-center-page-area .input_email div {
  color: #1f6bff;
  font-weight: bold;
}
.app-center-page-area .input_email input {
  width: 100%;
  margin-top: 10px;
}
.app-center-page-area .terms {
  max-height: 350px;
  padding: 20px 30px;
  border: 1px solid #d3d6de;
  border-radius: 5px;
  overflow: scroll;
}
.app-center-page-area .terms .dl {
  padding-bottom: 20px;
}
.app-center-page-area .terms dt {
  padding-top: 15px;
}
.app-center-page-area .terms dd {
  text-indent: -2em;
  padding-left: 2em;
}
.app-center-page-area .terms li {
  text-indent: -3em;
  padding-left: 3em;
}
.app-center-page-area .agree_terms {
  margin-top: 20px;
  text-align: center;
}
.app-center-page-area .agree_terms input {
  display: none;
}
.app-center-page-area .item_title {
  margin-bottom: 5px;
  font-weight: bold;
}

/* ========================================
   レスポンシブ対応
======================================== */
@media (max-width: 991px) {
  .app-layout__header {
    text-align: center;
    padding: 0.6rem 1rem;
  }
  .app-header {
    flex-direction: column;
    gap: 0.5rem;
  }
  .app-layout__body {
    padding: var(--content-padding-sp);
  }
  .app-btn__style--base {
    width: 100%;
  }
  .app-icon-group {
    display: none !important;
  }
  /* 部署名を非表示 */
  .app-user-texts > div:first-child {
    display: none;
  }
}
