@page
@model Zouryoku.Pages.Ankens.TestDriverModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "TestDriver";
}

<div>TestDriver</div>
<br />
<button type="button" id="anken-create" class="btn btn-primary">新規</button>
<table>
    <tr>
        <th>案件ID</th>
        <td>：</td>
        <td>
            <input id="anken-id" type="text" value="27"/>
        </td>
    </tr>
</table>
<button type="button" id="anken-edit" class="btn btn-primary">編集</button>
<br />
<table>
    <tr>
        <th>更新済フラグ：</th>
        <td>
            <input type="text" id="check-registered-flag" readonly/>
        </td>
    </tr>
    <tr>
        <th>削除済フラグ：</th>
        <td>
            <input type="text" id="check-deleted-flag" readonly />
        </td>
    </tr>
</table>
<button type="button" id="check-flag-reset" class="btn btn-outline-secondary">リセット</button>

@section InputScripts {
    <script>
        $(function () {
            // -----------------------------
            // 案件情報表示画面からのメッセージ受信
            // -----------------------------
            function handleMessage(event) {
                const e = event.originalEvent;

                // セキュリティチェック（オリジン確認）
                if (e.origin !== window.location.origin) return;

                const data = e.data;
                if (!data) return;

                switch (data.type) {
                    case "ankenRegistered":
                        $('#check-registered-flag').val('更新済フラグを受信');
                        break;

                    case "ankenDeleted":
                        $('#check-deleted-flag').val('削除済フラグを受信');
                        break;
                }
            }

            // -----------------------------
            // 案件情報表示画面からのメッセージリセット
            // -----------------------------
            function resetFlag() {
                $('#check-registered-flag').val('');
                $('#check-deleted-flag').val('');
            }

            // -----------------------------
            // 案件情報表示モーダル起動
            // -----------------------------
            function openAnkenEditModal() {
                const id = $('#anken-id').val();

                openModal(id);
            }

            function openAnkenInputModal() {
                openModal(null);
            }

            function openModal(id) {
                const modalId = 'anken-input-modal';

                const params = new URLSearchParams();

                const baseUrl = toQueryUrl('@Url.Page("./Input")');
                const url = `${baseUrl}${params.toString()}`;

                const title = '案件情報作成';

                showInputModal(modalId, url, id, title, null, 1000, 700);
            }

            // -----------------------------
            // イベント登録
            // -----------------------------
            $(window).on("message", handleMessage);
            $('#check-flag-reset').on('click', resetFlag);
            $('#anken-edit').on('click', openAnkenEditModal);
            $('#anken-create').on('click', openAnkenInputModal);
        });
    </script>
}
