@model Zouryoku.Pages.Maintenance.Syains.JyunjyoNarabikae.IndexModel

<ul data-js="sections" class="list-group">
    @for (int i = 0; i < Model.Syains.Count; i++)
    {
        var s = Model.Syains[i];
        <li class="list-group-item bg-primary-subtle border border-primary app-my-border-collapse"
            data-id="@s.Id"
            data-js="syain"
        >
            <input type="hidden" asp-for="Syains[@i].Id" />
            <input type="hidden" asp-for="Syains[@i].Jyunjyo" class="syain-order" />

            <div class="d-flex align-items-center">
                <span class="app-handle me-2" data-js="handle">
                    <i class="fa-solid fa-bars text-muted"></i>
                </span>
                <span class="fw-bold">@s.Name</span>
            </div>
        </li>
    }
</ul>
