@using Zouryoku.Pages.KinmuNippouMiKakuteiCheck
@model List<NotifyModel.MikakuteiTsuchiRirekiViewModel>

<table class="table app-table__base w-100">
    <thead>
        <tr>
            <td>過去の送信履歴</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var notificationHistory in Model)
        {
            <tr>
                <td>@notificationHistory.RirekiDisplay</td>
            </tr>
        }
    </tbody>
</table>
