<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <!--下記のAWSに書き込む処理を行うには、AWS.Logger.Log4netをNugetする-->
  <appender name="AWS" type="AWS.Logger.Log4net.AWSAppender,AWS.Logger.Log4net">
    <LogGroup>Log4net.WebAplicationLog</LogGroup>
    <Region>ap-northeast-1</Region>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%-2thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="Info" />
    <appender-ref ref="AWS" />
  </root>
</log4net>
