@page
@model Zouryoku.Pages.KokyakuJohoHyoji.TestDriverModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "顧客表示";
}
<!-- iziModal CSS -->
<link type="text/css" rel="stylesheet" href="~/assets/modules/iziModal/css/iziModal.css" asp-append-version="true" />
@* 共通パーシャルを呼び出し（Model を渡す） *@
<partial name="_ZouryokuHeader" model="Model" />

<div class="mt-5 m-auto">
	入力値：<input id="edit-number" type="text" value="1" />
</div>

<div class="row mt-5 m-auto">
	<button class="app-btn__base app-btn--lg app-btn__color--blue w-25 open-kokyakujoho edit-number" data-kokyaku-id="2" type="button">顧客情報（ID = 入力値）</button>
</div>

<div class="row mt-5 m-auto">
	<button class="app-btn__base app-btn--lg app-btn__color--blue w-25 open-kokyakujoho" data-kokyaku-id="1" type="button">顧客情報（ID = 1）</button>
</div>

<div class="row mt-5 m-auto">
	<button class="app-btn__base app-btn--lg app-btn__color--blue w-25 open-kokyakujoho" data-kokyaku-id="133" type="button">顧客情報（ID = 133）</button>
</div>

<div class="row mt-5 m-auto">
	<button class="app-btn__base app-btn--lg app-btn__color--blue w-25 open-kokyakujoho" data-kokyaku-id="134" type="button">顧客情報（ID = 134）</button>
</div>

<div class="row mt-5 m-auto">
	<button class="app-btn__base app-btn--lg app-btn__color--blue w-25 open-kokyakujoho" data-kokyaku-id="2" type="button">顧客情報（ID = 2）</button>
</div>

@section InputScripts {
	<!-- iziModal -->
	<script src="~/assets/modules/iziModal/js/iziModal.min.js" asp-append-version="true"></script>
	<!--iziModalUtil JavaScript -->
	<script src="~/js/iziModalUtil.js" asp-append-version="true"></script>
	<script>

		/// ===================================
		/// ボタン押下時
		/// ===================================
		// モーダル表示
		$('.open-kokyakujoho').on('click', function (e) {
			var id;
			if(e.target.classList.contains("edit-number")){
				id=$('#edit-number').val();
			}else{
				id = $(this).data('kokyaku-id');
			}
			e.preventDefault();
			openKokyakuDetail(id);
		});

		/// ===================================
		/// メソッド
		/// ===================================
		function openKokyakuDetail(id) {

			const modalId = 'kokyaku-detail-modal';
			const url = toQueryUrl('@Url.Page("./Index")');
			const title = '顧客情報';

			showInputModal(modalId, url, id, title, null, 1000, 500);

		}

	</script>
}
